<p style= "color: black; font-size:15px; text-align: left; border: 1px solid darkcyan"> <%= sub_comment.body %> </p>

<p style= "color: black; font-size:15px; text-align: right"> <%= sub_comment.created_at.to_s(:long) %>