<h1 style="color: chocolate; font-size:30px; text-align: left"> Post İçeriğini Düzenle </h1>

<%= render 'form', post: @post %>
<h1 class="col-md-2" class="row-md-4", style="color: chocolate; font-size:15px; text-align: left">
  <%= link_to 'Göster', @post %> | <%= link_to 'Geri', posts_path %>
</h1>

